@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

* {
    /* border: solid transparent; */
    margin: 0;
    padding: 0;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Courgette", cursive;
    /* overflow-wrap: break-word; */
    /* overflow-y: hidden; */
    /* overflow: scroll;s */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    /* background-color: aliceblue; */
    height: 100vh;
    background-image: linear-gradient(180deg, #d0e4ff, #d6fbff);
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow: scroll;
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.main-container {
    border: solid purple;
    margin: auto;
    width: 55vw;
    /* text-align: center; */
    /* height: 95vh; */
}

.showcase-display {
    border: solid violet;
    padding: 0;
    margin: 0;
    margin-bottom: 5%;
    /* text-align: center; */
    /* margin: auto; */
}

.portfolio-title {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    font-family: "Satisfy", cursive;
}

.left-side-container {
    border: solid red;
    width: 19%;
    height: 325vh;
    float: left;
}

.right-side-container {
    border: solid fuchsia;
    width: 19%;
    height: 325vh;
    float: right;
    text-align: right;
}

.top-cloud-gif {
    border: solid blue;
    width: 17vw;
}

.bottom-cloud-gif {
    border: solid blueviolet;
    width: 17vw;
    /* margin-top: 650%; */
    margin-top: 250vh;
}

.project-title {
    margin-left: 7%;
    font-family: "Courgette", cursive;
    color: white;
    text-align: left;
    /* color: #435e9d; */
}

.showcase-container {
    /* border: solid lightseagreen; */
    /* border-radius: 10px; */
    width: 54.5vw;
    margin: auto;
    padding: 0;
    text-align: center;
}

.showcase {
    border: solid 10px white;
    height: 45vh;
    width: 50vw;
    border-radius: 30px;
    position: relative;
    margin: auto;
    margin-top: 0.5%;
    text-align: center;
}

.project-info {
    border: solid transparent;
    margin-top: 2%;
    margin-left: 7%;
    width: 48vw;
    color: #8abded;
    /* color: white; */
    /* float: right; */
    /* width: 12vw; */
}

/* THE INDIVIDUAL SHOWCASES */
#og-voting-time {
    border: solid 10px white;
    height: 50vh;
    width: 45vw;
    border-radius: 30px;
    position: relative;
    margin: auto;
    margin-top: 0.5%;
    text-align: center;
}

#productivity-project {
    border: solid 10px white;
    height: 50vh;
    width: 25vw;
    border-radius: 30px;
    position: relative;
    margin-left: 6.5%;
    margin-top: 0.5%;
    float: left;
    clear: both;
    /* text-align: center; */
}

#productivity-project-info {
    float: right;
    border: solid blue;
    width: 16vw;
    position: relative;
    margin-right: 7%;
    /* height: 30vh; */
}